.login-slide {
  width: 100%;
  margin: auto;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #aabff25e;
  background-image: url("../../../../../public/images/violet.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  .shape {
    position: absolute;
  }
  .login-wrap {
    .login-img{
      content: "";
      position: absolute;
      width: 90%;
      height: 100vh;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../../../../../public/images/bg-min.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      padding: 8%;
      display:flex;
      justify-content: center;
      flex-direction: column;
      gap: 18px;
      .coupon{
        width: 38%;
      }
      .logo-wrap{
        display: flex;
        gap: 14px;
        align-items: center;
        .logo {
          width: 112px;
          height: 112px;
        }
        .logo-text {
          color: #fff;
          font-weight: 600;
          font-size: 58px;
          width: 100%;
        }
        .button{
          padding-bottom: 20px;
         } 
      }
    }
    .term-text {
      font-size: 12px;
      color: #fff;
    }
  }
}

@media (max-width: 1024px) {
  .login-slide {
    .login-wrap {
      .login-img{
        padding: 6%;
        gap: 14px;
        .coupon{
          width: 42%;
        }
        .logo-wrap{
          gap: 8px;
          .logo {
            width: 99px;
          height: 99px;
          }
          .logo-text {
            color: #fff;
            font-weight: 600;
            font-size: 42px;
            width: 100%;
          }
          .button{
          padding-bottom: 16px;
         } 
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .login-slide {
    background-image: url("../../../../../public/images/bg-min01.png");
    .login-wrap {
      .login-img{
        padding: 0;
        background-image: none;
        .coupon{
          width: 50%;
        }
        .logo-wrap{
          .logo {
            width: 80px;
            height: 80px;
          }
          .logo-text {
            color: #fff;
            font-weight: 600;
            font-size: 40px;
            width: 100%;
          }
          .button{
          padding-bottom: 12px;
         } 
        }
      }
      .term-text {
        font-size: 8px;
      }
    }
  }
}
@media (max-width: 425px) {
  .login-slide {
    .login-wrap {
      .login-img{
        background-image: none;
        .coupon{
          width: 100%;
        }
        .logo-wrap{
          .logo {
            width: 80px;
            height: 80px;
          }
          .logo-text {
            color: #fff;
            font-weight: 600;
            font-size: 32px;
            width: 100%;
          }
          .button{
          padding-bottom: 8px;
         } 
        }
      }
      .term-text {
        font-size: 8px;
      }
    }
  }
}