.login-slide {
  width: 100%;
  margin: auto;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #aabff25e;
  background-image: url("../../../../../public/images/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  .shape {
    position: absolute;
    transform: scale(0, 0);
    animation: zoom-out 0.5s ease-out forwards;
    animation-delay: 0.5s;
  }
  .shape-mb {
    position: absolute;
    transform: scale(0, 0);
    animation: zoom-out-mb 0.5s ease-out forwards;
    animation-delay: 0.5s;
  }
  .login-right-wrap {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    top: 100%;
    animation: in 0.5s ease-out forwards;
    animation-delay: 1s;
    .logo {
      width: 9%;
      height: auto;
      margin: auto;
    }
    .logo-text {
      color: var(--primary-color);
      font-weight: 600;
      font-size: 50px;
      width: 100%;
    }
    .button {
      background-color: #fff;
      width: 40%;
      margin: auto;
      display: flex;
      gap: 10px;
      border: var(--secondary-color) 3px solid;
      border-radius: 10px;
      padding: 10px 40px;
      justify-content: center;
      align-items: center;
      cursor: pointer !important;
      .google-logo {
        width: 20px;
      }
      p {
        font-size: 18px;
        color: var(--secondary-color);
        font-weight: 500;
      }
    }
    .term-text {
      font-size: 14px;
      color: var(--secondary-color);
    }
  }
}
.login-slide.login-right-wrap.button:hover {
  background-color: var(--secondary-color);
  p {
    color: #fff;
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(0.5, 0.5) translateY(-40%);
    top: 50%;
  }
  100% {
    transform: scale(1, 1) translateY(-40%);
    top: 50%;
  }
}
@keyframes in {
  0% {
    top: 100%;
    transform: scale(0, 0);
  }
  100% {
    top: 5%;
    transform: scale(1, 1);
  }
}
@keyframes zoom-out-mb {
  0% {
    transform: scale(0.5, 0.5) translateY(-40%);
    top: 50%;
  }
  100% {
    transform: scale(1, 1) translateY(-40%);
    top: 60%;
  }
}
@media (max-width: 769px) {
  .login-slide {
    .login-right-wrap {
      position: absolute;
      width: 100%;
      gap: 10px;
      top: 100%;
      animation: in 0.5s ease-out forwards;
      animation-delay: 1s;
      .mob-wrap{
        display: flex;
        text-align: center;
        justify-content: center;
        .logo {
          width: 20%;
          height: auto;
          margin: auto;
        }
        .logo-text {
          color: var(--primary-color);
          font-weight: 600;
          font-size: 20px;
          width: 100%;
        }
        .button {
          background-color: #fff;
          width: 80%;
          border-radius: 10px;
          padding: 8px 20px;
          justify-content: center;
          align-items: center;
          cursor: pointer !important;
          .google-logo {
            width: 20px;
          }
          p {
            font-size: 18px;
            color: var(--secondary-color);
            font-weight: 500;
          }
        }
        .term-text {
          font-size: 12px;
          color: var(--secondary-color);
        }
      }
    }
  }  
}